body {
    background: #000;
    padding: 0;
    margin: 0;
}

.header {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 5rem;
    font-weight: 600;
}